

/* style.css */

/* General styles */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

/* Text elements */
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
}
h1:hover {
  color: #ec9512;
  cursor: default;
}

p.notasks{
  color: #2bec12;
  cursor: default;

}
p.error {
  color: #ec1212;
  cursor: default;

}

ul {
  list-style: none;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

li {
  background-color: #1e1e1e;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.05);
}

label {
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 1rem;
  transform: scale(1.5);
}


/* Buttons */
button {
  background-color: #23bdd1;
  color: #121212;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ff79c6;
  transform: scale(1.05);
}

/* Inputs */
input[type="text"] {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #444;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  width: calc(100% - 2rem);
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
  animation: infiniteRainbowBorder 5s linear infinite;
  
}

input[type="text"]:focus {
  border-color: #ca4d05;
  outline: none;
}



/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes infiniteRainbowBorder {
  0% {
    border-color: #ff0000;
  }
  16.666% {
    border-color: #ff8000;
  }
  33.333% {
    border-color: #ffff00;
  }
  50% {
    border-color: #00ff00;
  }
  66.666% {
    border-color: #0000ff;
  }
  83.333% {
    border-color: #8000ff;
  }
  100% {
    border-color: #ff0000;
  }
}

  .siteDiv {
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    margin-top: 2rem;
  }

  .edit-input {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    width: 9rem;
  }
 
  .checkbox-wrapper-11 {
    --disabled: #414856;
    --check: #39d811;
    --text: #C3C8DE;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    position: relative;
    padding: 5px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
  }
  .checkbox-wrapper-11 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: color 0.3s ease;
  }
  .checkbox-wrapper-11 label::before,
  .checkbox-wrapper-11 label::after {
    content: "";
    position: absolute;
  }
  .checkbox-wrapper-11 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
  }
  .checkbox-wrapper-11 label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
  }
  .checkbox-wrapper-11 input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
  }
  .checkbox-wrapper-11 input[type=checkbox]::before, .checkbox-wrapper-11 input[type=checkbox]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
  }
  .checkbox-wrapper-11 input[type=checkbox]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
  }
  .checkbox-wrapper-11 input[type=checkbox]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked::before {
    -webkit-animation: check-01-11 0.4s ease forwards;
            animation: check-01-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked::after {
    -webkit-animation: check-02-11 0.4s ease forwards;
            animation: check-02-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label {
    color: var(--disabled);
    -webkit-animation: move-11 0.3s ease 0.1s forwards;
            animation: move-11 0.3s ease 0.1s forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label::before {
    background: var(--disabled);
    -webkit-animation: slice-11 0.4s ease forwards;
            animation: slice-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label::after {
    -webkit-animation: firework-11 0.5s ease forwards 0.1s;
            animation: firework-11 0.5s ease forwards 0.1s;
  }

  @-webkit-keyframes move-11 {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }

  @keyframes move-11 {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }
  @-webkit-keyframes slice-11 {
    60% {
      width: 100%;
      left: 4px;
    }
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  @keyframes slice-11 {
    60% {
      width: 100%;
      left: 4px;
    }
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  @-webkit-keyframes check-01-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
  @keyframes check-01-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
  @-webkit-keyframes check-02-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }
  @keyframes check-02-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }
  @-webkit-keyframes firework-11 {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #29b1f0, 0 0 0 -2px #29f07c, 0 0 0 -2px #f06829, 0 0 0 -2px #f029e6, 0 0 0 -2px #29f03a, 0 0 0 -2px #f029e6;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    box-shadow: 0 -15px 0 0px #FF0000, 14px -8px 0 0px #FF7F00, 14px 8px 0 0px #FFFF00, 0 15px 0 0px #00FF00, -14px 8px 0 0px #0000FF, -14px -8px 0 0px #8B00FF;
    }
  }
  @keyframes firework-11 {
    0% {
      opacity: 1;
    box-shadow: 0 0 0 -2px #FF0000, 0 0 0 -2px #FF7F00, 0 0 0 -2px #FFFF00, 0 0 0 -2px #00FF00, 0 0 0 -2px #0000FF, 0 0 0 -2px #8B00FF;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    box-shadow: 0 -15px 0 0px #FF0000, 14px -8px 0 0px #FF7F00, 14px 8px 0 0px #FFFF00, 0 15px 0 0px #00FF00, -14px 8px 0 0px #0000FF, -14px -8px 0 0px #8B00FF;
    }
  }
